torch==1.10.0
transformers==4.15.0
onnx==1.10.1
onnxruntime==1.10.0
datasets==1.17.0
sentence-transformers==2.1.0
git+https://github.com/huggingface/optimum@b3ed7d3ae390bf33cc04e5bc6fffb17b587f4ff0#egg=optimum
Flask==2.0.2
python-dotenv==0.19.2